.container{
    width: 1024px;
    margin: 0 auto !important;
}
.box{
    display: flex;
    margin-top: 16px;
    border: 1px solid #D4D4D4
}
.botao{
   width: 97%;
   padding: 12px 0px;
   background-color: #2d68fe;
   text-decoration: none;
   justify-content: center;
   color: white;
   margin: 10px 0;
   border-radius: 4px;
   display: flex;
}
.data{
    text-align: center;
}
a{
    display: block;
}
.p{
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
    
.h2{
    color: #181818;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

img{
    width: 353px;
    height: 188px;
    border-radius: 4px 0px 0px 0px;
    margin: 16px 0px 16px 16px;
}
.cardtitle{
    width: 639px;
    margin-left: 16px;
}

@media screen and (max-width:786px){
       
    img{
        width: 328px;
        height: 194px;

    }
    .botao{
        margin: 10px 0;
        border-radius: 4px;
        margin-bottom: 0px;
    }
    .box{
        width: 360x;
        height: 458px;
        flex-direction: column;   
    }
    .container{
        max-width: 360px;
        height: 458px;
    } 
    .cardtitle{
        width: 328px;
        height: 402px;
    }   
}