.container{
    width: 1024px;
    margin: 0 auto !important;
}
.box{
    display: flex;
    margin-top: 16px;
    border: 1px solid #D4D4D4
}
.botao{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  
    background: #2D68FE;
    width: 530px;
    height: 30px;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 4px;
    opacity: 0px;
}
a{
    display: block;
}
.p{
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.h1{
    color: #181818;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
}
.h2{
    width: 206px;
    height: 24px;
    margin-top: 86px;
    margin-left: 205px;

    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;

}
.img{
    width: 353px;
    height: 188px;
    border-radius: 4px 0px 0px 0px;
}
.cardtitle{
    width: 639px;
    margin-left: 16px;
}

@media screen and (max-width:786px){
    .h1{
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
    }
    .h2{
        font-family: Arial;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
    }
    .h3{
        font-family: Arial;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    .p{
        font-family: Arial;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        max-width: 100%;
    }
    .img{
        width: 328px;
        height: 194px;
        gap: 0px;
        border-radius: 4px 0px 0px 0px;
        opacity: 0px;
    }
    .botao{
        width: 328px;
        height: 40px;
        gap: 8px;
        border-radius: 4px 0px 0px 0px;
        opacity: 0px;
    }
    .box{
        width: 360x;
        flex-direction: column;
    }
    .container{
        max-width: 100%;
    }    
}